/* Преимущества */
.advantages{
    padding: 0;
    margin: 0;
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    align-items: center;
}

.advantages-element, .benefit-item{
    text-align: left;
    /* padding: 0; */
    margin-right: 30px;
}

.benefit-item{
    position: relative;
}

.advantages-element:last-child, .benefit-item:last-child{
    margin-right: 0px;
}

h2, .advantages{
    text-align: center;
}

.advantages-background{
    display: flex;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--resources-portfolio-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}


.advantages-sprite{
    display: flex;
    width: 70px;
    height: 70px;
}

.advantages-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
    height: 16px;
}

.advantages-description{
    margin: 0;
    color: var(--secondary-text-color);
    max-width: 270px;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 0px;
    height: 75px;
}
